*, body {
    padding : 0px;
    margin: 0px;
}

.geist-normal {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.p-10 {
    padding: 50px;
}

.button {
    padding-inline: 20px;
    padding-block: 8px;
    font-size: large;
    background-color: black;
    color: white;
    border-radius: 32px;
}